@model IEnumerable<OtzarHaSeforim.Models.SetBooksModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Set bookses</h1>

@Html.ActionLink("Add set bookses", "Create", new { id = ViewBag.Id })

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
                @Html.DisplayNameFor(model => model.ShelfId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Title)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ShelfId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
